<% if user_signed_in? %>
  <div class="nav fixed-bottom d-flex justify-content-around align-items-center">
        <div class="d-inline picto <%= "active" if controller_name == "pages" %>">
          <%= link_to "/" do %>
            <i class="fas fa-home"></i>
          <% end %>
        </div>
        <div class="d-inline picto <%= "active" if controller_name == "subscriptions" %>">
          <%= link_to subscriptions_path do %>
            <i class="fas fa-list-ul"></i>
          <% end %>
        </div>
        <div class="d-inline picto <%= "active" if controller_name == "transactions" %>">
          <%= link_to transactions_path do %>
            <i class="fas fa-sync-alt"></i>
          <% end %>
        </div>
        <div class="picto dropup">
          <i class="far fa-user dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Mon profil", "#", class: "dropdown-item" %>
            <%= link_to "Mes comptes bancaires", "#", class: "dropdown-item" %>
            <%= link_to "Me déconnecter", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </div>
  </div>
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      <% end %>
