<% if user_signed_in? %>
  <div class="nav fixed-bottom d-flex justify-content-around">
        <div class="d-inline picto">
          <%= link_to "/" do %>
            <%= image_tag "home.png", class: "picto" %>
          <% end %>
        </div>
        <div class="d-inline picto">
          <%= link_to "/subscriptions" do %>
            <%= image_tag "abonnements.png", class: "picto" %>
          <% end %>
        </div>
        <div class="d-inline picto">
          <%= link_to "/notifications" do %>
            <%= image_tag "notification.png", class: "picto" %>
          <% end %>
        </div>
        <div class="d-inline picto">
          <%= link_to "/contact" do %>
            <%= image_tag "contact.png", class: "picto" %>
          <% end %>
        </div>
        <div class="dropup">
          <%= image_tag "profile.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Mon profil", "#", class: "dropdown-item" %>
            <%= link_to "Mes comptes bancaires", "#", class: "dropdown-item" %>
            <%= link_to "Me déconnecter", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </div>
  </div>
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      <% end %>
