
<div class="banner-index d-flex justify-content-center align-items-center">
  <h1>Ajouter un compte</h1>
</div>

<div class="container">
  <div id="count">
    <p >Ajouter un nouveau <span class="action-verb">compte bancaire</span></p>
  </div>
  <div class="bank-grid">
    <div class="bank"><%= image_tag "banque_n26.png", class: "bank-img" %></div>
    <div class="bank"><%= image_tag "banque_revolut.jpg", class: "bank-img" %></div>
    <div class="bank"><%= image_tag "banque_societe_generale.png", class: "bank-img" %></div>
    <div class="bank"><%= image_tag "banque_bnp_paribas.png", class: "bank-img" %></div>
    <div class="bank"><%= image_tag "banque_credit_agricole.png", class: "bank-img" %></div>
    <div class="bank"><%= image_tag "banque_caisse_epargne.png", class: "bank-img" %></div>
    <div class="bank"><%= image_tag "banque_lcl.png", class: "bank-img" %></div>
    <div class="bank"><%= image_tag "banque_banque_populaire.png", class: "bank-img" %></div>
    <div class="bank"><%= image_tag "banque_cic.png", class: "bank-img" %></div>
    <div class="bank"><%= image_tag "banque_la_banque_postale.png", class: "bank-img" %></div>
    <div class="bank"><%= image_tag "banque_boursorama.png", class: "bank-img" %></div>
    <div class="bank"><%= image_tag "banque_hello_bank.png", class: "bank-img" %></div>
  </div>
  </br>
  <div class="w-100 button-new-subscription"><a class="w-100 button-new-subscription" href="#">Autres banques</a></div>
</div>
