<div class="container center_div">

  <%= simple_form_for @subscription do |f| %>
    <!-- REVOIR POUR CREER BOUTON TRUE SUR VISIBLE -->
    <%= f.input :visible, as: :hidden, input_html:{value: true}%>
    <%= f.input :status, as: :hidden %>
    <%= f.input :price, as: :hidden, input_html:{value: @transaction.amount} %>
    <%= f.input :name, as: :hidden, input_html:{value: @transaction.title, readonly:true} %>
    <%= f.input :alias, label: "Voulez-vous changer le nom de votre abonnement ?", input_html:{value: @transaction.title} %>
    <%= f.input :category, label: "Catégorie", collection: ['Energie','Loisirs', 'Streaming', 'Telecom', 'Divers'], required: true %>
    <!-- YES or NO -->
    <!--<%#= f.label "Êtes-vous engagés ?" %>
    <div class="d-flex">
      <%#= f.input_field :commitment, class: "yes-or-no", as: :radio_buttons, collection: ['Oui','Non'], label: false %>
    </div> -->

     <%= f.input :commitment,
          label: "Êtes-vous engagés ?",
          as: :radio_buttons,
          collection_wrapper_tag: 'div',
          collection_wrapper_class: 'category-wrapper',
          item_wrapper_class: 'category-item',
          input_html: {class: 'category-selector yes-or-no'},
          collection: ['Oui','Non'],
          required: true %>


      <!-- IF YES -->
    <div id="if-yes" class="d-none">
      <div class="form-wrapper" >
        <%= f.input :start_date, label: "Date de début de votre abonnement", as: :string, required: true, input_html: {class: "datepicker"} %>
        <%= f.input :end_date, label: "Date de fin de votre abonnement", as: :string, required: true, input_html: {class: "datepicker"} %>
      </div>

      <div>
      <%= f.input :periodicity,
            label: "Périodicité",
            as: :radio_buttons,
            collection_wrapper_tag: 'div',
            collection_wrapper_class: 'category-wrapper',
            item_wrapper_class: 'category-item',
            input_html: {class: 'category-selector'},
            collection: ['Mensuel','Annuel'],
            required: true %>
      </div>

    </div>


    <%= f.submit "Créer mon abonnement", class: "myButton w-100 button-new-subscription"  %>
  <% end %>

</div>



<!-- en cours ou sans engagement -->
