<div class="container center_div">

  <%= simple_form_for @subscription do |f| %>
    <!-- REVOIR POUR CREER BOUTON TRUE SUR VISIBLE -->
    <%= f.input :visible, as: :hidden, input_html:{value: true}%>
    <%= f.input :status, as: :hidden %>
    <%= f.input :price, as: :hidden, input_html:{value: @transaction.amount} %>
    <%= f.input :name, as: :hidden, input_html:{value: @transaction.title, readonly:true} %>
    <%= f.input :alias, label: "Voulez-vous changer le nom de votre abonnement ?", input_html:{value: @transaction.title} %>
    <%= f.input :category, label: "Catégorie", collection: ['Energie','Loisirs', 'Streaming', 'Telecom', 'Divers'] %>
    <!-- YES or NO -->
    <%= f.label "Êtes-vous engagés ?" %>
    <div class="d-flex">
      <%= f.input_field :commitment, class: "yes-or-no", as: :radio_buttons, collection: ['Oui','Non'], label: false %>
    </div>

      <!-- IF YES -->
    <div id="if-yes" class="d-none">
      <div class="form-wrapper" >
        <%= f.input :start_date, label: "Date de début de votre abonnement", as: :string, required: true, input_html: {class: "datepicker"} %>
        <%= f.input :end_date, label: "Date de fin de votre abonnement", as: :string, required: true, input_html: {class: "datepicker"} %>
      </div>
      <%= f.label "Périodicité" %>
      <div class="d-flex">
      <%= f.input_field :periodicity, collection: ['Mensuel','Annuel'],as: :radio_buttons %>
      </div>
    </div>


    <%= f.submit "Créer mon abonnement", class: "myButton w-100 button-new-subscription"  %>
  <% end %>

</div>



<!-- en cours ou sans engagement -->
