<h1 class="p-left-5 p-top-5">Bonjour, <%= current_user.first_name %>  </h1>

<p class="p-left-5"> Tu as <%= Subscription.count %> abonnements en cours </p>

<% @subscriptions.each do |subscription| %>
<div class="card-product">
  <div>
    <%= image_tag 'banque_assurance.png' %>
  </div>
  <div class="card-product-infos">
    <div>
      <h2> <%= subscription.name %> </h2>
      <p> <%= subscription.status %>  </p>
      <p> <i class="fab fa-algolia"></i> <%= subscription.limit_date %>  </p>
    </div>
       <div>
        <%= subscription.price %>
      </div>
  </div>

</div>
<% end %>

