<h1 class="text-align-center">Demande de Résiliation</h1>
<h2> <%= subscription.name %></h2>

<div>
  <div>
    <h3>Mes coordonnées :</h3>
    <p><%= current_user.first_name %></p>
    <p><%= current_user.last_name %></p>
    <p><%= current_user.email %></p>
  </div>
  <div>
    <br>
    <h3>A l'attention de :</h3>
    <p><%= subscription.name %></p>
    <p>Service résiliation</p>
    <br>
    <br>
    <p>Le <%= Date.today.strftime("%d/%m/%Y") %>  </p>
  </div>
</div>

<div>
  <br>
  <span>OBJET : DEMANDE DE RESILIATION D'ABONNEMENT(S)</span>
  <br>
</div>

<div>
  <br>
  <p>Madame, Monsieur,
  <br>
  <br>
  Je souhaite résilier mon abonnement : <%= subscription.name %> , à échéance le  <%= subscription.end_date.strftime("%d/%m/%Y") %>.
  <br>
  <br>
  Le <%= Date.today.strftime("%d/%m/%Y") %>
  <br>
  <br>
  <br>
  Signature :
</p>
</div>














