<div class="mega-banner">
  <div class="banner-subscription">
    <% case @subscription.category %>
      <% when 'Energie'%>
        <%= image_tag 'loisirs_banner.jpeg' %>
      <% when 'Loisirs'%>
        <%= image_tag 'loisirs_banner.jpeg' %>
      <% when 'Telecom'%>
        <%= image_tag 'loisirs_banner.jpeg' %>
      <% when 'Streaming' %>
        <%= image_tag 'loisirs_banner.jpeg' %>
      <% when 'Divers'%>
        <%= image_tag 'loisirs_banner.jpeg' %>
    <% end %>
    <h1> <%= @subscription.name %></h1>
    <div class=container>
      <div class="banner-subscription-logo">
        <% case @subscription.category %>
          <% when 'Energie'%>
            <%= image_tag 'energie_rond.png' %>
          <% when 'Loisirs'%>
            <%= image_tag 'loisirs_rond.png' %>
          <% when 'Telecom'%>
            <%= image_tag 'telecom_rond.png' %>
          <% when 'Streaming' %>
            <%= image_tag 'streaming_rond.png' %>
          <% when 'Divers'%>
            <%= image_tag 'divers_rond.png' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="mega-banner-category">
    <%= @subscription.category %>
  </div>
</div>
<div class=container>
  <div class="infos">
    <p> <%= current_user.first_name %>, voici le détail de votre souscription : <%= @subscription.name %></p>
    <div class="price">
      <%= @subscription.price %> € / <%= @subscription.periodicity = "mensuel"  ? "Mois" : "An" %>
    </div>
    <div class="d-flex justify-content-between mt-2">
      <div>
        <%= @subscription.status == "en cours" ? "statut" : "pause" %>
      </div>
      <div>
        <%= @subscription.status %>
      </div>
    </div>
    <div class="d-flex justify-content-between mt-2">
      <div>
        <i class="far fa-calendar-times"></i>
      </div>
      <div>
        du <%= @subscription.start_date %> au <%= @subscription.end_date %>
      </div>
    </div>
    <div class="d-flex justify-content-between mt-2">
      <div>
        <i class="fal fa-traffic-light-stop"></i>
      </div>
      <div>
        Date limite pour mettre fin à votre abonnement : <%= @subscription.limit_date %>
      </div>
    </div>
    <div class="mt-5">
      <a href="#" class='btn btn-info'>Aidez-moi à annuler mon abonnement</a>
    </div>
  </div>
</div>
 <!--  -->

