<!-- TRANSACTION INDEX BANNER -->
<div class="banner-index d-flex justify-content-center align-items-center">
  <h1>Paiements récurrents</h1>
</div>

<!-- CARD TRANSACTION -->

  <!-- si @transactions alors cards -->
<% if @transactions&.any? {|name, transactions| transactions.size > 1 } %>
  <div class="container">
    <div id="subtitle">
      <p>Nous avons identifié une récurrence des paiements suivants sur ton <span class="action-verb">compte bancaire</span></p>
    </div>
  </div>
  <div class="container">
    <% @transactions.each do |name, transactions| %>
      <div class="container-transaction">
        <% if transactions.size > 1 %>

          <div class="card-transaction-title">
            <h2><%= name %></h2>
            <div class="container-button-transaction">

              <!-- BUTTON PIN -->
              <div class="button-transaction pin">
                <%= link_to new_subscription_path(params:{transactions: transactions}), data:{turbolinks:"false"} do %>
                  <i class="fas fa-thumbtack button-circle"></i>
                <% end %>
              </div>

              <!-- BUTTON TRASH -->
              <div class="button-transaction trash">
                <%= simple_form_for Subscription.new do |f| %>
                  <%= f.input :visible, as: :hidden, input_html:{value: false}%>
                  <%= f.input :name, as: :hidden, input_html:{value: name} %>
                  <button id="sweet-alert2" class= "button-circle" name="button"><i class="fas fa-trash"></i></button>
                  <%= f.button :submit, class: "d-none", id: "delete-link"  %>
                <% end %>
              </div>
            </div>
          </div>
          <!-- TOUTES LES TRANSACTIONS D'UN ABONNEMENT -->
          <div class="card-transaction-info">
            <% transactions.each do |transaction| %>
              <div class="transaction-info">
                <div>
                  <p class="transaction-date"><%= transaction.date %></p>
                  <p><%= transaction.reference %></p>
                </div>
                <div class="transaction-price">
                  <h5><%= transaction.amount %> €</h5>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <!-- si @transactions est vide alors message -->
<% else %>
  <div class= "container">
    <div class="max-size-container d-flex flex-column justify-content-center">
        <div class="home-box d-flex animation align-items-center justify-content-center flex-column">
          <p><span class="action-verb">Tu es à jour !</span></p>
          <p >Il n'y a plus de transaction à classer</p>
        </div>
    </div>
  </div>
<% end %>









